/*
!/.gitignore
!/.nojekyll
!/index.html
!/check.mjs
!/README.md
!/package.json
!/package-lock.json
!/netlify.toml
!/.netlifyignore
!/netlify/
!/netlify/**
!/fonts/
/fonts/*
!/fonts/PretendardVariable.woff2
!/fonts/PretendardJPVariable.woff2
!/fonts/LICENSE-Pretendard.txt
!/fonts/LICENSE-PretendardJP.txt
!/fonts/README.md

!/repertoire.js
